In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/Users/ethanjohn/Desktop/Data Science/Projects/MH_Dashboard2/Students_Social_Media_Addiction_FE.csv")
df.head()

    Affects_Academic_Performance  Affects_Academic_Performance_Encoded
0                            Yes                                     1
1                             No                                     0
2                            Yes                                     1
3                             No                                     0
4                            Yes                                     1
..                           ...                                   ...
700                           No                                     0
701                          Yes                                     1
702                          Yes                                     1
703                           No                                     0
704                          Yes                                     1

[705 rows x 2 columns]